section {
    background-color: bisque;
    border: 2px black;
    border-style: ridge;
    text-align: center;
}

header {
    text-align: center;
    letter-spacing: 2pc;
}

h1:first-child {
    text-align: left;
    color: #4b8312;
}

h1:last-child {
    text-align: right;
    color: crimson;
}

.slide img {
    width: 30%;
}

.botones {
    padding: 2% 5% 2% 5%;
}

input.button {
    background-color: crimson;
    color: whitesmoke;
    height: 2em;
    margin: 2% 2% 2% 2%;
    width: 10em;
}

label {
    font-size: 1.5em;
}

input:focus {
    background-color: teal;
}