@import url("fonts.css");
body {
  background-color: #4A4B71;
  font-family: "Candal";
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgb(44, 135, 139);
  font-family: "Candal";
  height: 8vh;
  margin: 3vh 0;
  padding: 1%;
}

header img {
  height: 6vh;
  padding: 0% 1% 0% 2%;
  vertical-align: middle;
}

header h1 {
  color: white;
  font-size: 5vh;
  margin: 0;
  text-align: left;
}

h1.media_query, img.carita {
  display: none;
}

div.content {
  background-color: #4A4B71;
  display: flex;
  flex-direction: row;
  height: 80vh;
}

aside.lateral{
  background-color: #4A4B71;
  display: flex;
  flex-direction: column;
  padding: 0% 1.5% 0% 1.5%;
  width: 15%;
}

button.uno, button.dos, button.tres, button.cuatro {
  border: none;
  border-radius: 2em;
  cursor: pointer;
  margin: 8% 0% 8% 20%;
  outline: none;
  padding: 8%;
  text-align: center;
  width: 60%;
  z-index: 1;
}

button.uno {
  background-color: #C4619F;
}

button.uno:hover {
  background-color: #A83D80;
  /* box-shadow: 6px 6px 10px gray; */
}

button.dos {
  background-color: #4169E1;
}

button.dos:hover {
  background-color: #1D4CD8;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

button.tres {
  background-color: #02BF71;
}

button.tres:hover {
  background-color: #007747;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

button.cuatro {
  background-color: #BF02AF;
}

button.cuatro:hover {
  background-color: #98008B;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

button.cuatro:hover p {
  display: block;
}

p.oculto {
  display: none;
}

p.oculto:hover {
  font-weight: 800;
}

button label {
  cursor: pointer;
  font-family: "Quicksand";
}

#sinopsis1, #sinopsis2, #sinopsis3 {
  background-color: rgb(44, 135, 139);
  border: none;
  border-radius: 10px;
  color: white;
  margin: 0% 0% 0% 35%;
  width: 30%;
}

#juego1 div.descripJ1, #juego2 div.descripJ2, #juego3 div.descripJ3 {
  background-color: rgb(44, 135, 139);
  border-radius: 10px;
  bottom: 20%;
  position: absolute;
  width: 20%;
  z-index: 1;
}

#juego1 div.descripJ1 {
  left: 23%;
}

#juego2 div.descripJ2 {
  left: 48%;
}

#juego3 div.descripJ3 {
  left: 73%;
}

#juego1 img, #juego2 img, #juego3 img {
  border-radius: 10px;
  width: 300px;
}

#juego1 p, #juego2 p, #juego3 p {
  color: white;
  font-family: "Comfortaa";
  margin: 7% 5% 7% 5%;
  text-align: justify;
}

div.coyo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 88%;
  width: 15%;
}

div.coyo img {
  height: 50%;
  padding-right: 5%;
}

div.CWAC {
  width: 50%;
}

h2.curso, p.enp, p.case {
  border-radius: 1em;
  font-family: "Syncopate";
  margin: 0;
  padding: 4px;
}

h2.curso {
  background-color: #033F71;
  color: #CA9C1D;
  font-size: 20px;
  text-align: center;
}

p.enp {
  background-color: #F5811E;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
  text-shadow: black 1px 2px;
}

p.case {
  background-color: #011945;
  color: white;
  font-size: 8px;
  margin: auto;
  text-shadow: black 1px 2px;
  width: 70%;
}

div.juego {
  background-color: white;
  border-radius: 2rem;
  width: 80%;
}

#contenedorJuego div.blackjack {
  background-color: rgb(0, 147, 79);
  border-radius: 2rem;
  height: 100%;
  top: 10%;
  width: 100%;
}

/* #exampleModal {
  display: none;
} */

@media screen and (max-width: 1000px) {
  body {
    background-color: #4A4B71;
  }
  header, div.content {
    opacity: 0;
  }
  h1.media_query {
    display: inline-block;
    font-size: 100px;
  }
  img.carita {
    display: inline;
    align-content: center;
  }
}
