@import url("fonts.css");
body {
  background-color: #4A4B71;
  font-family: "Candal";
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgb(44, 135, 139);
  font-family: "Sriracha";
  height: 6vh;
  margin: 3vh 0;
  padding: 10px 20px;
}

header img {
  height: 6vh;
  vertical-align: middle;
}

header h1 {
  color: white;
  font-size: 4vh;
  margin: 0;
  text-align: left;
}

div.content {
  background-color: #4A4B71;
  display: flex;
  flex-direction: row;
  height: 83vh;
  padding-top: 5%;
}

aside.lateral{
  background-color: #4A4B71;
  display: flex;
  flex-direction: column;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 20%;
}

button.uno, button.dos, button.tres, button.cuatro {
  border-radius: 30%;
  margin-right: 0.1%;
  margin-top: 15%;
  padding: 5%;
  text-align: center;
}

button.uno {
  background-color: #C4619F;
}

button.uno:hover {
  background-color: #A83D80;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button.dos {
  background-color: #4169E1;
}

button.dos:hover {
  background-color: #1D4CD8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button.tres {
  background-color: #02BF71;
}

button.tres:hover {
  background-color: #007747;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button.cuatro {
  background-color: #BF02AF;
}

button.cuatro:hover {
  background-color: #98008B;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button.cuatro:hover p {
  display: block;
}

p.oculto {
  display: none;
}

p.oculto:hover {
  font-weight: 800;
}

div.coyo {
  align-items: center;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 20%;
}

div.coyo img {
  height: 50%;
  padding-right: 5%;
}

div.CWAC {
  width: 50%;
}

h2.curso, p.enp, p.case {
  border-radius: 1em;
  font-family: "Syncopate";
  margin: 0;
  padding: 4px;
}

h2.curso {
  background-color: #033F71;
  color: #CA9C1D;
  font-size: 20px;
  text-align: center;
}

p.enp {
  background-color: #F5811E;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
  text-shadow: black 1px 2px;
}

p.case {
  background-color: #011945;
  color: white;
  font-size: 8px;
  margin: auto;
  text-shadow: black 1px 2px;
  width: 70%;
}

div.juego {
  background-color: white;
  border-top-left-radius: 2rem;
  width: 80%;
}

#contenedorJuego div.blackjack {
  background-color: rgb(0, 147, 79);
  height: 100%;
  width: 100%;
}

@media screen and (max-width:500px) {
  body {
    background-color: red;
  }
  h1::after {
    content: "Esta pantalla es muy pequeña";
  }
}
