#padre {
  width: 10%;
  background-color: lightpink;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  text-align: center;
}
#padre * {
  border-radius: 5px;
  padding: 10%;
  background-color: lightblue;
}
