<link rel="stylesheet" href="../Statics/css/blackjack.css">
<div class="blackjack" id="blackjack_container">
  <div class="inicio" id="inicio">
    <img src="../Statics/Media/img/logo-blackjack.png" alt="">
    <button class="button" id="jugar">Jugar</button>
    <button class="button" id="instrucciones">Instrucciones</button>
    <button class="button" id="best">Mejores puntajes</button>
  </div>
</div>
<script src="../Libs/jquery-3.5.1.min.js "></script>
<script src="../Dynamics/js/blackjack.js"></script>
