<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Blackjack</title>
        <link rel="stylesheet" href="../Statics/css/blackjac.css">
    </head>

    <body>
        <div class="inicio" id="inicio">
            <img src="../Statics/Media/img/logo-blackjack.png" alt="">
            <button class="button" id="jugar">Jugar</button>
            <button class="button" id="Instrucciones">Instrucciones</button>
            <button class="button" id="best">Mejores puntajes</button>
        </div>
        <script src="../Libs/jquery-3.5.1.min.js "></script>
        <script src="../Dynamics/js/blackjack.js"></script>
    </body>
</html>
