<!DOCTYPE html>
<html lang="spa">

<head>
    <title>Tony Case Arcade</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/inicio.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/media/favicon/arcade.png">
</head>
<section>
    <header>
        <h1>Tony</h1>
        <h1>Case</h1>
        <h1>Arcade</h1>
    </header>
    <nav>
        <h2>¡Bienvenido a nuestro arcade!</h2>
        <h3>Puedes comenzar a jugar cualquiera de los juegos de abajo después de ingresar un nombre de usuario</h3>
    </nav>
    <div class="slideContent">
        <div class="slide">
            <img src="../statics/media/img/blackjack.jpg">
        </div>

        <div class="slide">
            <img src="../statics/media/img/space.jpeg">
        </div>

        <div class="slide">
            <img src="../statics/media/img/quince.jpeg">
        </div>
        <div class="botones">
            <a class="prev" onclick="plusSlides(-1)">&#9194;</a>
            <a class="next" onclick="plusSlides(1)">&#9193;</a>
        </div>
    </div>

    <form action="" id='formulario'>
        <div>
            <label for="nombre">Nombre Jugador</label>
            <br>
            <input type="text" id="nombre">
        </div>
        <input class="button" type="submit" value='Jugar'>
    </form>
    <div id="error"></div>
</section>
<script src="../dynamics/inicio.js"></script>

</html>