<link rel="stylesheet" href="../Statics/css/instrucciones3.css">
<div class="modalInstruc3">
  <span>X</span>
  <h1>Instrucciones</h1>
  <p>A continuación se muestran las reglas para el juego de 15:</p>
  <ul>
    <li>Aparecerá un recuadro de 4 x 4 los cuales contendrán numeros entre el 1 y el 15</li>
    <li>Estos números se encuentran en desorden, por lo que tu misión es ordenarlos en la menor cantidad de tiempo</li>
    <li>Debes presionar un boton que esté a un lado (izquierda o derecha), arriba o abajo del espacio vacío para poder moverlo de lugar</li>
    <li>Cuando el recuadro tenga los números ordenados de menor a mayor y el espacio vacío en la esquina inferior derecha, habrás ganado</li>
  </ul>
</div>
<script src="../Libs/jquery-3.5.1.min.js "></script>
<script src="../Dynamics/js/modalInstruc1.js"></script>
