<link rel="stylesheet" href="../Statics/css/instrucciones1.css">
<div class="modalInstruc1">
  <span>X</span>
  <h1>Instrucciones</h1>
  <p>El objetivo de este juego es sumar 21 puntos o no pasarse de esta cifra, pero siempre sobrepasando el valor que tiene el crupier para ganar la apuesta. Las cartas del 2 al 10 valen su valor natural; las cartas J, Q y K también valen 10 y el as vale 1 o 11 según la conveniencia del jugador.</p>
  <p>A continuación se describe el paso a paso de una ronda de BlackJack:</p>
  <ul>
    <li>Al inicio de cada ronda el jugador debe apostar, utilizando las flechas arriba para incrementar su apuesta y abajo para disminuir su apuesta (Apuesta mínima: 100 kidzos).</li>
    <li>El crupier repartirá dos cartas al jugador y dos a sí mismo, la carta del crupier es visible al jugador.</li>
    <li>Cada jugador decidirá si pide más cartas o se planta con las dos ya repartidas.</li>
    <li>Luego el crupier jugará su mano.</li>
    <li>Se puede perder cuando el jugador se queda más lejos de 21 que el crupier o que haya sobrepasado este valor.</li>
    <li>Si el jugador tiene el mismo valor del crupier, recupera su apuesta pero no pierden ni ganan.</li>
  </ul>
</div>
<script src="../Libs/jquery-3.5.1.min.js "></script>
