<html>

<head>
    <title>Quince</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/quince.css">
</head>

<body>
    <div class="contenedor">
        <div class="cuadro">
            <div class="fila">
                <div class="cell1">0</div>
                <div class="cell2">0</div>
                <div class="cell3">0</div>
                <div class="cell4">0</div>
            </div>
            <div class="fila">
                <div class="cell5">0</div>
                <div class="cell6">0</div>
                <div class="cell7">0</div>
                <div class="cell8">0</div>
            </div>

            <div class="fila">
                <div class="cell9">0</div>
                <div class="cell10">0</div>
                <div class="cell11">0</div>
                <div class="cell12">0</div>
            </div>

            <div class="fila">
                <div class="cell13">0</div>
                <div class="cell14">0</div>
                <div class="cell15">0</div>
                <div class="cell16">0</div>
            </div>
        </div>

        <div class="botones">
            <button class="terminar">Termino</button>
            <button class="reiniciar">Reiniciar</button>
            <button class="pausar">Pausar</button>
        </div>
    </div>

    <script src="../dynamics/quince.js"></script>
</body>

</html>