<!DOCTYPE html>

<head>
    <title>Quince</title>
    <link rel="stylesheet" href="../statics/css/quinceMenu.css">
</head>

<body>
    <div class="contenedor">
        <header>
            <div class="titulo">
                <img src="../statics/media/img/cuadro.jpeg">
                <h1>Juego <br>de <br>quince</h1>
            </div>
        </header>
        <section>
            <button id="jugar">Jugar</button>
            <button id="instrucciones">Instrucciones</button>
            <button id="puntajes">Puntajes</button>
        </section>
    </div>
</body>