<!DOCTYPE html>

<head>
    <title>Space Invaders</title>
    <link rel="stylesheet" href="../statics/css/spaceInvaders.css">
</head>

<body>
    <div class="contenedor">
        <header>
            <div class="titulo">
                <img src="../statics/media/img/nave.jpg">
                <h1>Space<br> Invaders</h1>
            </div>
        </header>
        <section>
            <button id="jugar">Jugar</button>
            <button id="instrucciones">Instrucciones</button>
            <button id="puntajes">Puntajes</button>
        </section>
    </div>
</body>